<!--
Html to display the group creation
Has the form CreateGroup
Inputs into the model GroupInfo an auto increm ID and a unique
name that is created by the user
This page is on the url create_group/
It gets its information from the GroupView view

-->
{% extends 'base.html' %}
{% block body%}
<div class="container" id = "holder" style= "width: 50%">
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-7" style = "font-size:35px;font-weight:bold;" > Create group</div>
</div>

  <form method="post" class="form-group">
  {% csrf_token %}
  Please Enter a Unique group name:
  {{form.group_name}}
  <br>
  <button class = "btn btn-dark" type="submit">Create Group</button>
  </form>
<div class="col-13">

<br>
</div>
</div>

{% endblock %}
