<!--
Html to display all movie recommendations for the groups,
all movies added to the watch list and all users in group
This page is on the url group_details/
It gets its information from the ViewGroup view

-->

{% extends 'base.html' %}
{% block body%}
<script>
  function incrementValue()
{
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('number').value = value;
}
</script>

<h1 style="color:blue; text-align:center;">

{% for name in group_name%}
   Welcome to group {{name.group_name}}
{%endfor%}
 </h1>
<br>

<div class="container" id="holder">

  <div class="row">
    <div class="col-8">
    <h3>Recommended Movies</h3>
    </div>
    <div class="col-4" style="font-size:18px" >
    <h3>  Users in this group</h3>
    </div>
    <div class="col-8">

      {% for merge in all_mov%}
      <p></p>
    {{ forloop.counter }}.{{merge}}
      {% endfor%}
    </div>
      <div class="col-4" >
    {% for p in people %}
<p></p>
      {{ forloop.counter }}. {{p.user_name}}

    {% endfor%}
        </div>
    <div class="col-8">
  <h3>Group watch list</h3>
  {% for tmdb, vote in test%}
  <p></p>
<a href="{% url 'view' pk=tmdb.id %}" style = "color:black">{{ forloop.counter }}.  {{tmdb.title}}</a>
<a href ="{% url 'groupvote' pk=tmdb.id group=id %}"  type="button" id="up" style = "color:green" class="btn btn-danger fa fa-thumbs-up" > </a>
<a class="" style ="color:black; font-size:20px">
  {{vote}}
</a>
<a href ="{% url 'downvote' pk=tmdb.id group=id %}" type="button" id="down" style = "color:red" class="btn btn-danger fa fa-thumbs-down" > </a>
  {% endfor %}
    <p></p>
    </div>




<p></p>
<br>
</div>

{% endblock %}
