<!--
Html to display all movie recommendations for the groups,
all movies added to the watch list and all users in group
This page is on the url group_details/
It gets its information from the ViewGroup view

-->

{% extends 'base.html' %}
{% block body%}




<br>



<div class="container" id="holder">
  <h1 style="color:black; text-align:center; ">

  {% for name in group_name%}
     Welcome to group {{name.group_name}}
     {%endfor%}
   </h1>
  <div class="row" >
    <div class="col-8">
    <u><h3>Recommended Movies</h3></u>
    </div>
    <div class="col-4"  >
    <u><h3>  Users in this group</h3></u>
    </div>
    <div class="col-8" >

      {% for merge in all_mov%}
      <p></p>
  <div class="col" style="border-radius: 10px; background-color: #d9b38c">
   {{ forloop.counter }}.{{merge}}
  </div>
      {% endfor%}
  </div>

      <div class="col-4" >
    {% for p in people %}
    <p></p>
    <div class="col" style="border-radius: 10px; background-color: #d9b38c">
        <a href="{% url 'view_other_user' pk=user.pk %}" style = "color:black">  {{ forloop.counter }}. {{p.user_name}} </a>

    </div>
    {% endfor%}
        </div>


    <div class="col-8">
      <br>
  <u><h3>Group watch list</h3></u>

  {% for tmdb, vote in test%}
  <p></p>
  <div class="col" style="border-radius: 10px; background-color: #d9b38c">


<a href="{% url 'view' pk=tmdb.id %}" style = "color:black; ">{{ forloop.counter }}.  {{tmdb.title}}</a>
<a href ="{% url 'groupvote' pk=tmdb.id group=id %}"  id="up" style = "color:brown; background-color:#d9b38c;" class="btn btn-dark fa fa-thumbs-up" > </a>
<a class="" style ="color:black; font-size:20px">
  {{vote}}
</a>
<a href ="{% url 'downvote' pk=tmdb.id group=id %}" type="" id="down" style = "color:brown; background-color:#d9b38c;" class="btn btn-dark fa fa-thumbs-down" > </a>

<a href ="{% url 'delete_movie' pk=tmdb.id group=id %}" type="" id="down" style = "color:black; background-color:#d9b38c;" class="btn btn-dark fa fa-trash" > </a>
  </div>
  {% endfor %}
    <p></p>
    <br>
    </div>


<p></p>
<br>
</div>
</div>
<p></p>
  {% for name in group_name%}

  <a href ="{% url 'leave_group' group=name.group_id %}" type="" id="down" style = "color:#993333; background-color:#d9b38c;" class="btn btn-dark fa fa-trash" > Leave Group</a>
  {%endfor%}
<p></p>

{% endblock %}
