
{% extends 'base.html' %}
{% block body%}
<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-lg">
      <form id="searchform" action="{% url 'searching' %}" method="get" accept-charset="utf-8">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control  my-0 py-1 red-border" id="searchbox" name="search_query" type="text"  aria-label="Search" placeholder="Search by movie name">
            <button class="searchbutton" type="submit">
              <i class="fa fa-search text-blue" aria-hidden="true"></i>
            </button>
       </form>
    </div>
  </div>
</div>
<p></p>

<div class="container" id = "holder" style = "width:50%">

<h3><u>About us</u></h3>
<p>
This is a movie recommender application that you can use to view and search through movies <a href="{% url 'movies' %}" style = "color:darkblue">here</a>.
When you enter in your <a href="{% url 'add_details' %}"  style = "color:darkblue">details </a> you will be able to view movie recommendations for yourself
<a href="{% url 'recommendations' %}"  style = "color:darkblue">here. </a>You can also <a href="{% url 'group' %}"  style = "color:darkblue">create groups</a>
 or <a href="{% url 'join_group' %}"  style = "color:darkblue">join groups</a>, when you view your group, you will be given movie
 recommendations for every user in the group.
</p>
<p>
When viewing movies, you will see a list of movies that people who like that movie also like. You can also choose to rate the movie
or to add it to the watchlist of any of your groups. If you then view the group you added your movie too, you can see a list of
movies in your watchlist that other people in the group have added. You can decide to up or down vote each movie in the group if you like
the movie or not. So that next time that you meet up with your group to watch a movie, you can watch the movie
with the most votes.
</p>

<p>
If you want, you can write reviews on movies that you like or dislike <a href="{% url 'review' %}" style = "color:darkblue">here.</a>
You can also view other peoples reviews there too. You can view all your ratings <a href="{% url 'recommendations2' %}" style = "color:darkblue"> here</a>,
and see movies recommended based on these ratings.
<br>
<br>

</p>
</div>

{% endblock %}
