<!--
Html to display the movie details when a user clicks on a movie
Has the form AddMovieToGroup and RatingForm
Inputs into the model GroupMovieList and UserRatings
This page is on the url movie_details/
It gets its information from the MovieDetails view

-->

{% extends 'base.html' %}

{% block body%}


<div id = "holder" class="container">
  <div class="">
    <br>
  </div>
  <div class="row">
    <div class="col-3" >
      <img src={{image}} alt="Movie Thumbnail" height="90%" width="90%">
  </div>
    <div class="col-5" style = "font-size:35px;font-weight:bold; color:black;">
        {{m.title}}
        <div class="col-8" style = "font-size:15px;">
            Release Date:{{m.release_date}}
        </div>
        <div class="col-10" style = "font-size:15px;">
          <h3>Description</h3>
          {{m.overview}}
        </div>
    </div>

    <div class="col-4">
      <form method="post" class="form-group">
        {% csrf_token %}

       {{movie_form  }}

        <button type="submit" name="button" class="btn btn-primary btn-circle"">Add To Group</button>

        <!-- csrf token allows for safe log in-- then form as paragraph-->
      </form>
      <br>
    </div>



    <div class="col-5" style="font-weight:bold">
      Rating:
      {%if m.vote_average > 0 and m.vote_average < 2 %}
      <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color:#C0C0C0">
       <span class="fa fa-star" style="color:#C0C0C0"></span>  <span class="fa fa-star" style="color:#C0C0C0"></span>
       </span>  <span class="fa fa-star" style="color:#C0C0C0"></span>
      {%endif%}

      {%if m.vote_average > 2 and m.vote_average < 4 %}
      <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color:#CCCC00">
       <span class="fa fa-star" style="color:#C0C0C0"></span>  <span class="fa fa-star" style="color:#C0C0C0"></span>
       </span>  <span class="fa fa-star" style="color:#C0C0C0"></span>
      {%endif%}

      {%if m.vote_average > 4 and m.vote_average < 6 %}
      <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color:#CCCC00">
       <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color#C0C0C0"></span>
       </span>  <span class="fa fa-star" style="color:#C0C0C0"></span>
      {%endif%}
      {%if m.vote_average > 6 and m.vote_average < 8 %}
       <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color:#CCCC00"></span>
        <span class="fa fa-star" style="color:#CCCC00"></span>   <span class="fa fa-star" style="color:#CCCC00"></span>
        </span>  <span class="fa fa-star" style="color:#C0C0C0"></span>
      {%endif%}

      {%if m.vote_average > 8 and m.vote_average < 10 %}
       <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color:#CCCC00">
        <span class="fa fa-star" style="color:#CCCC00"></span>  <span class="fa fa-star" style="color:#CCCC00"></span>
        </span>  <span class="fa fa-star" style="color:#CCCC00"></span>
      {%endif%}
      <p></p>



      <form method="post" class="form-group">
        {% csrf_token %}
        {{form}}
        <button class = "btn btn-primary" type="submit">Rate Movie</button>

        <!-- csrf token allows for safe log in-- then form as paragraph-->
      </form>
    </div>

    </div>
</<div class="col-13" >
  <h4>Similar movies:</h4>
  <p></p>

  <div class="col-9">
    {% with counting=1 %}
     {%for list in list_data  %}

           <!--<a href="{% url 'view' pk=list_id.1 %}"> -->  {{ forloop.counter }}. {{list}}

          <p></p>
    {%endfor%}
    {% endwith %}

   </div>

</div>


<div class="">

  <br>
</div>

</div>


{% endblock %}
