<!--
Html to display the movie details when a user clicks on a movie
Has the form AddMovieToGroup and RatingForm
Inputs into the model GroupMovieList and UserRatings
This page is on the url movie_details/
It gets its information from the MovieDetails view

-->

{% extends 'base.html' %}

{% block body%}

{% if messages%}
{%for message in messages%}
<div class="" role = "alert" style = "color:black; font-weight:bold">
  <center> {{message}}</center>
</div>
{% endfor %}
{% endif %}


<div id = "holder" class="container">
  <div class="">
    <br>
  </div>
  <div class="row" >
    {% if image %}
    <div class="col-3" >
      <img src={{image}} alt="Movie Thumbnail" height="90%" width="90%">
  </div>

  {% endif %}
    <div class="col-5" style = "font-size:35px;font-weight:bold; color:black;">
        {{m.title}}
        <div class="col-8" style = "font-size:15px;">
            Release Date:{{m.release_date}}
        </div>
        <div class="col-10" style = "font-size:15px;" >
          <h3>Description</h3>
          {{m.overview}}
        </div>
    </div>

    <div class="col-4">
      <form method="post" class="form-group">
        {% csrf_token %}

       {{movie_form  }}

        <button type="submit" name="button" class="btn btn-dark">Add To Group</button>

        <!-- csrf token allows for safe log in-- then form as paragraph-->
      </form>
      <br>
    </div>



    <div class="col-5" style="font-weight:bold">
      Rating:
      {%if m.vote_average > 0 and m.vote_average < 2 %}
      <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow">
       <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow"></span>
       </span>  <span class="fa fa-star" style="color:yellow"></span>
      {%endif%}

      {%if m.vote_average > 2 and m.vote_average < 4 %}
      <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow">
       <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow"></span>
       </span>  <span class="fa fa-star" style="color:yellow"></span>
      {%endif%}

      {%if m.vote_average > 4 and m.vote_average < 6 %}
      <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow">
       <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="coloryellow"></span>
       </span>  <span class="fa fa-star" style="color:yellow"></span>
      {%endif%}
      {%if m.vote_average > 6 and m.vote_average < 8 %}
       <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow"></span>
        <span class="fa fa-star" style="color:yellow"></span>   <span class="fa fa-star" style="color:yellow"></span>
        </span>  <span class="fa fa-star" style="color:yellow"></span>
      {%endif%}

      {%if m.vote_average > 8 and m.vote_average < 10 %}
       <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow">
        <span class="fa fa-star" style="color:yellow"></span>  <span class="fa fa-star" style="color:yellow"></span>
        </span>  <span class="fa fa-star" style="color:yellow"></span>
      {%endif%}
      <p></p>



      <form method="post" class="form-group">
        {% csrf_token %}
        {{form}}
        <button class = "btn btn-dark" type="submit">Rate Movie</button>

        <!-- csrf token allows for safe log in-- then form as paragraph-->
      </form>


    </div>

    </div>
</<div class="col-13"  >

  <div class="col-9" style="border-radius: 15px; background-color: #d9b38c">
    <h4><u>Similar movies:</u></h4>

    <br>
    {% with counting=1 %}
     {%for list in list_data  %}

           <!--<a href="{% url 'view' pk=list_id.1 %}"> -->  {{ forloop.counter }}. {{list}}

          <p></p>
    {%endfor%}
    {% endwith %}
<br>

   </div>
    <br>
</div>


<div class="">

  <br>
</div>

</div>


{% endblock %}
