<!--
Html to display all created groups and 2 buttons,
view group and join group
This page is on the url join_group/
It gets its information from the JoinGroup view

-->
{% extends 'base.html' %}
{% block body%}

<div id = "holder" class="container" style= "width: 50%; border-radius: 25px">
<br>
<div class="row">
  <div class="col-1">

  </div>
  <div class="col" style = "font-size:200%;" > Group Name </div>
<br>
  <div class="w-100"></div>
{% for group in name_groups %}
<div class="col-1">

</div>
  <div class="col-7" style="font-size:20px; border-radius: 10px; background-color: #d9b38c	">
      <i style = "font-size:120% ">{{group.group_name}}</i>
  </div>
  <div class="col">
      <a href="{% url 'view_group' pk=group.group_id %}">
        <button type="button" class = "btn btn-dark" >View group</button>
      </a>

</div>



    <div class="w-100"></div>
    <br>
{% endfor %}
</div>
</div>


{% endblock %}
