<!--
Html to display the users recommendations
Currently updated by recommender.py file from the Recommendations view
This page is on the url recommendations/

The view takes in the users in the groups demographics and
recommends movies based on that.
-->

{% extends 'base.html' %}
{% block body%}
<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-lg">
      <form id="searchform" action="{% url 'searching' %}" method="get" accept-charset="utf-8">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control  my-0 py-1 red-border" id="searchbox" name="search_query" type="text"  aria-label="Search" placeholder="Search by movie name">
            <button class="searchbutton" type="submit">
              <i class="fa fa-search text-blue" aria-hidden="true"></i>
            </button>
       </form>
    </div>
  </div>
</div>
<p></p>
<div class="container" id="holder" >


<u><h2>You might like:</h2></u>

{%for mov in all_movies%}
<div class="row" style="border-radius: 1px; background-color: #d9b38c">
  <div class="col-sm" style="font-size:100%;">
    <a href="{% url 'view' pk=mov.3 %}"style = "color:black">{{ forloop.counter }}.{{mov.1}}</a>
</div>
</div>
<br>
{%endfor%}
<br>

{% endblock %}
