{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
<div class="container" id = "holder" style= "width: 50%">
    <div class="col-xs-12">
      {% if messages%}
      {%for message in messages%}
      <div class="" role = "alert">
        <center> {{message}}</center>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <h2 >User Details</h2>
    <p><b>Username </b>: {{user}}</p>
    <p><b>First Name</b>: {{ user.first_name }}</p>
    <p><b>Last name</b>: {{user.last_name}} </p>
    <p><b>Email</b>: {{user.email}}</p>
    <p><b>Age</b>: {{user.userprofile.Age}}</p>
    <p><b>Gender</b>: {{user.userprofile.Gender}}</p>
    <p><b>Occupation</b>: {{user.userprofile.Occupation}}</p>
    {% if user.userprofile.image %}
    <img src="{{user.userprofile.image.url}}" alt = "profile picture" width="240">
    {% endif %}
    <br>
</div>
{% endblock %}
