{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
<div class="container" id = "holder">
    <div class="col-xs-12">
      {% if messages%}
      {%for message in messages%}
      <div class="" role = "alert">
        <center> {{message}}</center>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <h2>User Details</h2>
    <p>Username = {{user}}</p>
    <p>First Name = {{ user.first_name }}</p>
    <p>Last name ={{user.last_name}} </p>
    <p>Email = {{user.email}}</p>
    <p>age: {{user.userprofile.Age}}</p>
    <p>gender: {{user.userprofile.Gender}}</p>
    <p>Occupation: {{user.userprofile.Occupation}}</p>
    {% if user.userprofile.image %}
    <img src="{{user.userprofile.image.url}}" alt = "profile picture" width="240">
    {% endif %}
</div>
{% endblock %}
